.floating-box {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.ticket-box {
  background-color: #1f1f1f;
  border: 1px solid #454541;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(255, 204, 0);
  box-shadow: 0 0 15px #454541;
}


.ticket-icon {
  font-size: 1.5rem;
  color: rgb(255, 204, 0);
}

.cinematic-pack {
 
  box-shadow: 0 0 15px #454541;
}
.pack-container {
  font-size: 5rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.pack-container:hover {
  transform: scale(1.1) rotate(-5deg);
  color: #ffc107;
}