/* src/styles/WelcomePage.css */
.welcome-fullscreen {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.welcome-logo {
  max-width: 90%;
  height: auto;
  object-fit: contain;
  animation: fadeIn 1.5s ease-out;
}

.welcome-touch-text {
  position: absolute;
  bottom: 40px;
  font-family: 'Lobster', cursive;
  color: #ffd700;
  font-size: 1.3rem;
  text-shadow: 0 0 8px black;
  opacity: 0.8;
  animation: pulseGlow 1.5s ease-in-out infinite;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulseGlow {
  0% {
    opacity: 0.4;
    transform: scale(1);
    text-shadow: 0 0 6px #ffc107;
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
    text-shadow: 0 0 12px #ffeb3b;
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
    text-shadow: 0 0 6px #ffc107;
  }
}
