@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  font-family: 'Lobster', cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body,
.navbar,
.navbar-brand,
.nav-link,
.offcanvas,
.offcanvas-body,
.navbar-text,.bottom-navbar-container,
.bottom-navbar-container .nav-link,
.bottom-navbar-container .nav-text  {
  font-family: 'Lobster', cursive !important;
  font-size: 1rem;
  letter-spacing: 0.5px;

}
.custom-card {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.02);
}

.custom-card.rare:hover {
  box-shadow: 0 6px 18px rgba(192, 192, 192, 0.6); 
}

.custom-card.epic:hover {
  box-shadow: 0 6px 18px rgba(255, 215, 0, 0.6);
}
.content-wrapper {
  padding-bottom: 6rem !important;
}
html, body {
  background-image: url("/pattern-background.png");
  background-repeat: repeat;
  background-size: auto;

}

