@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  font-family: 'Lobster', cursive;
  background-color: #121212;
  background-image: radial-gradient(circle, #282828 0%, #121212 80%);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
body,
.navbar,
.navbar-brand,
.nav-link,
.offcanvas,
.offcanvas-body,
.navbar-text,.bottom-navbar-container,
.bottom-navbar-container .nav-link,
.bottom-navbar-container .nav-text  {
  font-family: 'Lobster', cursive !important;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
}
.custom-card {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.02);
}

.custom-card.rare:hover {
  box-shadow: 0 6px 18px rgba(192, 192, 192, 0.6); 
}

.custom-card.epic:hover {
  box-shadow: 0 6px 18px rgba(255, 215, 0, 0.6);
}
